<!-- app/views/admin/pages/new.html.erb -->
<% content_for :title, "#{@site_information.site_name} - Amin Dashboard - New Page" %>
<%= render layout: "layouts/header" do %>
<% end %>

<%= render layout: "layouts/admin_menu" do %>
  <%= render 'shared/flash_error' %>
  <%= form_with(model: controller.get_item, url: admin_pages_path, method: :post, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :name, "Name*", class: "form-label" %>
      <%= form.text_field :name, class: "form-control", required: true, placeholder: "Enter the name of the page." %>
    </div>

    <div class="mb-3">
      <%= form.label :section, "Section*", class: "form-label" %>
      <%= form.text_field :section, class: "form-control", required: true, placeholder: "Enter the section name." %>
    </div>

    <div class="mb-3">
      <%= form.label :title, "Title*", class: "form-label" %>
      <%= form.text_field :title, class: "form-control", required: true, placeholder: "Enter the title for the page." %>
    </div>

    <div class="mb-3">
      <%= form.label :access, "Access*", class: "form-label" %>
      <%= form.text_field :access, class: "form-control", placeholder: "Enter the access permission for the page." %>
    </div>

    <div class="pb-3">
      * - Required Fields
    </div>
    <div class="mb-3">
      <%= form.submit "Save Page", class: "btn btn-primary me-3" %>
      <%= link_to("Cancel", admin_pages_url, class: "btn btn-primary") %>
    </div>
  <% end %>
<% end %>

<%= render layout: "layouts/footer" do %>
<% end %>
