<!-- app/views/admin/site_setups/_site_setup_form.html.erb -->
<%= form_with(model:  controller.get_item,
              url:    controller.get_item.persisted? ? admin_site_setup_path(controller.get_item) : admin_site_setups_path,
              method: controller.get_item.persisted? ? :patch : :post,
              local:  true) do |form| %>

  <h1>
    <% if controller.get_item&.persisted? %>
      Edit <%= controller.model_title %>
    <% else %>
      New <%= controller.model_title %>
    <% end %>
  </h1>

  <div class="mb-3">
    <%= form.label :configuration_name, "Configuration Name*", class: "form-label" %>
    <%= form.text_field :configuration_name,
                        class:       "form-control",
                        required:    true,
                        placeholder: "Enter the configuration name for this #{controller.model_title}"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :owner_name, "Owner Name*", class: "form-label" %>
    <%= form.text_field :owner_name,
                        class:       "form-control",
                        required:    true,
                        placeholder: "Enter the owner name for this #{controller.model_title}"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :site_name, "Site Name*", class: "form-label" %>
    <%= form.text_field :site_name,
                        class:       "form-control",
                        required:    true,
                        placeholder: "Enter the site name for this #{controller.model_title}"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :site_domain, "Site Domain*", class: "form-label" %>
    <%= form.text_field :site_domain,
                        class:       "form-control",
                        required:    true,
                        placeholder: "Enter the site domain for this #{controller.model_title}"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :site_host, "Site Host*", class: "form-label" %>
    <%= form.text_field :site_host,
                        class:       "form-control",
                        required:    true,
                        placeholder: "Enter the site host for this #{controller.model_title}"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :site_url, "Site URL*", class: "form-label" %>
    <%= form.text_field :site_url,
                        class:       "form-control",
                        required:    true,
                        placeholder: "Enter the site URL for this #{controller.model_title}"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :header_background, "Header Background Color*", class: "form-label" %><br>
    <%= form.select :header_background,
                    options_for_select(Admin::SiteSetupsController::COLOR_ARRAY,
                                       controller.get_item.header_background),
                    required: true,
                    class:    'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :header_text_color, "Header Text Color*", class: "form-label" %><br>
    <%= form.select :header_text_color,
                    options_for_select(Admin::SiteSetupsController::COLOR_ARRAY,
                                       controller.get_item.header_text_color),
                    required: true,
                    class:    'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :footer_background, "Footer Background Color*", class: "form-label" %><br>
    <%= form.select :footer_background,
                    options_for_select(Admin::SiteSetupsController::COLOR_ARRAY,
                                       controller.get_item.footer_background),
                    required: true,
                    class:    'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :footer_text_color, "Footer Text Color*", class: "form-label" %><br>
    <%= form.select :footer_text_color,
                    options_for_select(Admin::SiteSetupsController::COLOR_ARRAY,
                                       controller.get_item.footer_text_color),
                    required: true,
                    class:    'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :container_background, "Container Background Color*", class: "form-label" %><br>
    <%= form.select :container_background,
                    options_for_select(Admin::SiteSetupsController::COLOR_ARRAY,
                                       controller.get_item.container_background),
                    required: true,
                    class:    'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :container_text_color, "Container Text Color*", class: "form-label" %><br>
    <%= form.select :container_text_color,
                    options_for_select(Admin::SiteSetupsController::COLOR_ARRAY,
                                       controller.get_item.container_text_color),
                    required: true,
                    class:    'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :page_background_image, "Background Image", class: "form-label" %>
    <%= form.text_field :page_background_image,
                        class:       "form-control",
                        placeholder: "Enter the background image for this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :facebook_url, "Facebook URL", class: "form-label" %>
    <%= form.text_field :facebook_url,
                        class:       "form-control",
                        placeholder: "Enter the Facebook URL for this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :twitter_url, "Twitter URL", class: "form-label" %>
    <%= form.text_field :twitter_url,
                        class:       "form-control",
                        placeholder: "Enter the Twitter URL for this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :instagram_url, "Instagram URL", class: "form-label" %>
    <%= form.text_field :instagram_url,
                        class:       "form-control",
                        placeholder: "Enter the Instagram URL for this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :linkedin_url, "Linkedin URL", class: "form-label" %>
    <%= form.text_field :linkedin_url,
                        class:       "form-control",
                        placeholder: "Enter the LinkedIn URL for this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :github_url, "GitHub URL", class: "form-label" %>
    <%= form.text_field :github_url,
                        class:       "form-control",
                        placeholder: "Enter the Github URL for this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="mb-3">
    <%= form.label :copyright, "Copyright", class: "form-label" %>
    <%= form.text_field :copyright,
                        class:       "form-control",
                        placeholder: "Enter the copyright this #{controller.model_title} (optional)"
    %>
  </div>

  <div class="pb-3">
    * - Required Fields
  </div>
  <div class="mb-3">
    <%= form.submit "Save #{controller.model_title}", class: "btn btn-primary me-3", disabled: !@application_user.admin?  %>
    <%= link_to("Cancel", admin_site_setups_url, class: "btn btn-primary", target: "_self") %>
  </div>
<% end %>
