<!-- app/views/admin/sections/_section_form.erb -->
<%= javascript_include_tag 'views/admin/sections/edit' %>
<%= render 'shared/flash_error' %>
<%= form_with(model:  controller.get_item,
              url:    controller.get_item.persisted? ? admin_section_path(controller.get_item) : admin_sections_path,
              method: controller.get_item.persisted? ? :patch : :post,
              local:  true,
              html:   { onsubmit: 'return validate(this)' }) do |form| %>
  <div class="row">
    <div class="col-2">
      <%= form.label :content_type, "Content Type*", class: "form-label" %>
    </div>
    <div class="col-10">
      <%= form.text_field :content_type, list: "content_types", class: "form-control", required: true %>
      <datalist id="content-types">
        <% @content_types.each do |content_type| %>
          <option value="<%= content_type %>"></option>
        <% end if @content_types %>
      </datalist>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= form.label :section_name, "Section Name", class: "form-label" %>
    </div>
    <div class="col-10">
      <%= form.text_field :section_name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= form.label :section_order, "Section Order", class: "form-label" %>
    </div>
    <div class="col-2">
      <%= form.number_field :section_order, class: "form-control", step: 1, min: 1, max: 999, value: controller.get_item.section_order || 1 %>
    </div>
    <div class="col-8">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= form.label :image, "ImageFile file path", class: "form-label" %>
    </div>
    <div class="col-10">
      <%= form.text_field :image, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= form.label :link, "URL", class: "form-label" %>
    </div>
    <div class="col-10">
      <%= form.text_field :link, class: "form-control" %>
    </div>
  </div>
  <div>
    <%= form.label :formatting, "Formatting", class: "form-label" %>
    <%= form.text_area :formatting,
                       class: "form-control",
                       rows:  7,
                       value: controller.get_item.formatting_to_text
    %>
  </div>
  <div>
    <div>
      <%= form.label :description, "Description", class: "form-label me-4" %>
      <button type="button"
              id="toggle-editor"
              class="btn btn-link form-label pt-1"
              style="max-width: 8em"
              onclick="toggleEditor(this, 'rtf-editor', 'rtf-description', 'raw-editor', 'raw-description')">Raw HTML
      </button>
    </div>

    <!-- RTF Editor -->
    <div id="rtf-editor">
      <%= form.rich_text_area :description,
                              id:     "rtf-description",
                              class:  "form-control rtf-text-area",
                              onblur: "checkHtml(this);" %>
    </div>

    <!-- Raw Text Editor -->
    <div id="raw-editor" style="display: none;">
      <%= form.text_area :description,
                         id:     "raw-description",
                         class:  "form-control",
                         rows:   9,
                         onblur: "checkHtml(this);" %>
    </div>
  </div>
  <div class="mt-2 mb-2">
    * - Required Fields
  </div>
  <div class="mb-1">
    <%= form.submit controller.get_item.persisted? ? "Update Section" : "Create Section",
                    class: "btn btn-primary me-3",
                    disabled: !@application_user.admin?  %>
    <%= link_to("Cancel", admin_sections_url, class: "btn btn-secondary") %>
  </div>
<% end %>
