<!-- app/views/admin/sections/index.html.erb -->
<% content_for :title, "paul-carrick.com - Amin Dashboard - Sections" %>
<%= render layout: "layouts/header" do %>
<% end %>

<%= render layout: "layouts/admin_menu" do %>
  <div class="row border-bottom border-dark mb-2">
    <div class="col-2">
      <%= sortable_column('Content Type', 'content_type', "sections") %>
    </div>
    <div class="col-2">
      <%= sortable_column('Section Name', 'section_name', "sections") %>
    </div>
    <div class="col-2">
      <%= sortable_column('Section Order', 'section_order', "sections") %>
    </div>
    <div class="col-2">
      <%= sortable_column('Image(s)', 'image', "sections") %>
    </div>
    <div class="col-2">
      <%= sortable_column('Url', 'link', "sections") %>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="scrollable-container p-2 border-bottom border-dark " style="max-height: 60%">
    <% @sections.each do |section| %>
      <div class="row">
        <div class="col-2">
          <%= section.content_type %>
        </div>
        <div class="col-2">
          <%= section.section_name %>
        </div>
        <div class="col-2">
          <%= section.section_order %>
        </div>
        <div class="col-2">
          <%= section.image %>
        </div>
        <div class="col-2">
          <%= section.link %>
        </div>
        <div class="col-2" style="min-height: 2em;">
          <% delete_path = admin_section_path(section).to_s + "/delete" %>
          <%= action_links(section, edit_admin_section_path(section), delete_path) %>
        </div>
        <div class="row">
          <div class="col-1 ms-4">
            Description:
          </div>
          <div class="col-9">
            <div class=" reset-styles">
              <%= raw(Utilities.truncate_html(section.description, 768)) %>
            </div>
          </div>
          <div class="col-2">
          </div>
        </div>
        <div class="row pt-1 pb-5">
          <div class="col-1 ms-4">
            Formatting:
          </div>
          <div class="col-9">
            <%= raw(Utilities.pretty_print_json(section.formatting)) %>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-2">
      <%= link_to("New Section", new_admin_section_path, class: "btn btn-primary") %>
    </div>
    <div class="col-7">
    </div>
    <div class="col-3 justify-content-end">
      <%= render 'shared/page_navigation' %>
    </div>
  </div>

  <%= search_form_for @q,
                      url: admin_sections_path,
                      class: "mt-3 p-2 rounded-box",
                      method: :get,
                      local: true do |form| %>
    <div class="row mt-2 mb-2">
      <div class="col-1">
        <%= form.label :content_type_cont, "Content Type", class: "form-label" %>
      </div>
      <div class="col-4">
        <%= form.search_field :content_type_cont, style: "min-width: 100%;" %>
      </div>
      <div class="col-1">
      </div>
      <div class="col-1">
        <%= form.label :section_name_cont, "Section Name", class: "form-label" %>
      </div>
      <div class="col-4">
        <%= form.search_field :section_name_cont, style: "min-width: 100%;" %>
      </div>
      <div class="col-1">
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-1">
        <%= form.label :image_cont, "Image", class: "form-label" %>
      </div>
      <div class="col-4">
        <%= form.search_field :image_cont, style: "min-width: 100%;" %>
      </div>
      <div class="col-1">
      </div>
      <div class="col-1">
        <%= form.label :link_cont, "URL", class: "form-label" %>
      </div>
      <div class="col-4">
        <%= form.search_field :link_cont, style: "min-width: 100%;" %>
      </div>
      <div class="col-1">
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-1">
        <%= form.label :description_cont, "Description", class: "form-label" %>
      </div>
      <div class="col-10">
        <%= form.search_field :description_cont, style: "min-width: 100%;" %>
      </div>
      <div class="col-1">
      </div>
    </div>
    <div>
      <%= form.submit "Search Sections", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= render layout: "layouts/footer" do %>
<% end %>
