<!-- app/views/section/index.html.erb -->
<% content_for :title, "#{@site_information.site_name} - Search" %>
<%= render layout: "layouts/header" do %>
<% end %>

<section class="bg-light pt-5 text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-2 display-4">
        Page
      </div>
      <div class="col-10 display-4">
        Contents
      </div>
    </div>
    <% @sections.each do |section| %>
      <div class="row pb-3">
        <div class="col-2">
          <%= link_to section[:title], section[:url], target: "_self" %>
        </div>
        <div class="col-10">
          <%= sanitize(section[:description]).html_safe %>
        </div>
      </div>
    <% end %>
    <div class="row pb-3">
      <div class="col-7">
      </div>
      <div class="col-5 justify-content-end">
        <%= render 'shared/page_navigation' %>
      </div>
    </div>
  </div>
</section>

<%= render layout: "layouts/footer" do %>
<% end %>
