<!-- app/views/admin/pages/index.html.erb -->
<%= render layout: "layouts/admin_page" do %>
  <% if controller.get_item&.present? %>
    <div class="row mb-3">
      <div class="col-2">
        Name:
      </div>
      <div class="col-10">
        <%= controller.get_item.name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        caption:
      </div>
      <div class="col-10">
        <%= controller.get_item.caption %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Description:
      </div>
      <div class="col-10">
        <%= controller.get_item.description %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        MIME Type:
      </div>
      <div class="col-10">
        <%= controller.get_item.mime_type %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Group:
      </div>
      <div class="col-10">
        <%= controller.get_item.group %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Slide Order:
      </div>
      <div class="col-10">
        <%= controller.get_item.slide_order %>
      </div>
    </div>
  <% end %>
<% end %>
