<!-- app/views/admin/blog_posts/index.html.erb -->
<%= javascript_include_tag 'views/admin/blog_posts/index' %>
<% content_for :title, "#{@site_information.site_name} - Amin Dashboard - Blogs" %>
<%= render layout: "layouts/header" do %>
<% end %>

<%= render layout: "layouts/admin_menu" do %>
  <%= render 'shared/flash_error' %>
  <div class="row border-bottom border-dark mb-2">
    <div class="col-2">
      <%= sortable_column('Author', 'author', "blog_posts") %>
    </div>
    <div class="col-2">
      <%= sortable_column('Title', 'title', "blog_posts") %>
    </div>
    <div class="col-2">
      <%= sortable_column('Posted', 'posted', "blog_posts") %>
    </div>
    <div class="col-5">
      Contents
    </div>
    <div class="col-1">
      <%= link_to "Clear Sort", '#', class: "action-links", onclick: "clearSort()" %>
    </div>
  </div>
  <div class="scrollable-container p-2">
    <% controller.get_items.each do |blog| %>
      <div class="row">
        <div class="col-2">
          <%= blog.author %>
        </div>
        <div class="col-2">
          <%= blog.title %>
        </div>
        <div class="col-2">
          <%= blog.posted %>
        </div>
        <div class="col-5">
          <%= raw(Utilities.truncate_html(blog.content, 768)) %>
        </div>
        <div class="col-1" style="min-height: 2em;">
          <% delete_path = admin_blog_post_path(blog).to_s + "/delete" %>
          <%= action_links(blog, edit_admin_blog_post_path(blog), delete_path) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-9">
    </div>
    <div class="col-3 justify-content-end">
      <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item <%= 'disabled' unless @pagy.page > 1 %>">
            <%= link_to 'First', url_for(page: 1), class: 'page-link' %>
          </li>
          <li class="page-item <%= 'disabled' unless @pagy.prev %>">
            <%= link_to 'Previous', url_for(page: @pagy.prev), class: 'page-link' %>
          </li>
          <li class="page-item <%= 'disabled' unless @pagy.next %>">
            <%= link_to 'Next', url_for(page: @pagy.next), class: 'page-link' %>
          </li>
          <li class="page-item <%= 'disabled' unless @pagy.page < @pagy.last %>">
            <%= link_to 'Last', url_for(page: @pagy.last), class: 'page-link' %>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-2">
        <%= link_to("New Blog", new_admin_blog_post_path, class: "btn btn-primary") %>
      </div>
      <div class="col-10">
      </div>
    </div>
  </div>
  <%= search_form_for @q,
                      url: admin_blog_posts_path,
                      class: "mt-3 p-2 rounded-box",
                      method: :get,
                      local: true do |form| %>
    <div class="row mt-2 mb-2">
      <div class="col-1"><%= form.label :author_cont, "Author", class: "form-label" %></div>
      <div class="col-4"><%= form.search_field :author_cont, style: "min-width: 100%;" %></div>
      <div class="col-1"></div>
      <div class="col-1"><%= form.label :title_cont, "Title", class: "form-label" %></div>
      <div class="col-4"><%= form.search_field :title_cont, style: "min-width: 100%;" %></div>
      <div class="col-1"></div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-1"><%= form.label :posted_cont, "Posted", class: "form-label" %></div>
      <div class="col-4"><%= form.search_field :posted_cont, style: "min-width: 100%;" %></div>
      <div class="col-1"></div>
      <div class="col-1"><%= form.label :content_cont, "Contents", class: "form-label" %></div>
      <div class="col-4"><%= form.search_field :content_cont, style: "min-width: 100%;" %></div>
      <div class="col-1"></div>
    </div>
    <div>
      <%= form.submit "Search Blogs", class: "btn btn-primary" %>
      <%= link_to 'Clear Search', admin_blog_posts_path(clear_search: true), class: "btn btn-secondary" %>
    </div>
  <% end %>
<% end %>

<%= render layout: "layouts/footer" do %>
<% end %>
