<% if @page.present? %>
  <title><%= "paul-carrick.com - #{@page.title}" %></title>
<% else %>
  <title><%= "paul-carrick.com" %></title>
<% end %>

<%= render layout: "layouts/header" do %>
<% end %>

<% if params[:data].present? %>
  <div class="align-content-center p-5">
    <h1>Welcome <%= params[:data][:name] %>!</h1>
  </div>
<% else %>
  <% @missing_image ||= image_path("missing-image.jpg") %>

  <section class="bg-light text-secondary">
    <div class="container mb-5">
      <p class="alert"><%= alert %></p>

      <div id="contents">
        <% @contents.each do |content| %>
          <% section_classes = content == @focused_section ? 'highlight-section' : '' %>

          <div class="<%= section_classes %>">
            <%= react_component("DisplayContent", {
              content: content.description,
              image: content.image,
              link: content.link,
              format: content.formatting,
              section_id: content.section_name,
              user: @user
            }) %>
          </div>
        <% end %>
      </div>
      <input type="hidden" id="content-rendered-signal" value="true"/>
    </div>
  </section>
<% end %>

<%= render layout: "layouts/footer" do %>
<% end %>

<script>
  function waitForRender() {
    const signalElement = document.getElementById("content-rendered-signal");

    if (signalElement) {
      const params = new URLSearchParams(window.location.search);
      const sectionName = params.get("section_name");

      if (sectionName) {
        const sectionElement = document.getElementById(sectionName);

        if (sectionElement) {
          sectionElement.scrollIntoView({behavior: "smooth", block: "start"});
        }
      }
    } else {
      // Retry after a short delay if the signal element is not yet rendered
      setTimeout(waitForRender, 50);
    }
  }

  window.addEventListener("turbo:load", () => {
    const params = new URLSearchParams(window.location.search);
    const sectionName = params.get("section_name");

    if (sectionName)
      setTimeout(waitForRender, 750);
  });
</script>
